---
import "../styles/global.css";
import favicon from "../assets/pccprimary.jpeg";
import logowide from "../assets/pccwide.jpeg";
import Header from "../components/Header.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const {
	title,
	description = "A community for the Magic the Gathering format Pauper, located in cologne",
	image = "../assets/pccprimary.jpeg",
} = Astro.props;
// import background from "../assets/pccwide.jpeg";
// const finalImage = image ?? favicon.src;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpeg+xml" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<ClientRouter />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<Header />
		<slot />
	</body>
</html>
